.pricing-table-second h2 {
background: #00afed !important ; }

.twitter {
background: #00afed !important; }

#c-donate {
background: #fff;}

.in-slide-content h1{ 	
display: none; }

li.current a {
color: #FF5C00 !important;}

	

